@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;

    font-family: "Poppins", sans-serif;
    position: relative;
    overflow-x: hidden;
    background: linear-gradient(to right, #f5f7fa, #dbe1ea);

}

body::-webkit-scrollbar {
    display: none;
}

h4,
h5 {
    font-weight: 400;
}






nav {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1.6vw 4vw 1.1vw;
    z-index: 9;

    background: linear-gradient(to right, #f5f7fa6d, #dbe1ea66);


    backdrop-filter: blur(25px);

}

nav .part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    cursor: pointer;
}

nav .part2-mob {
    font-size: 3.4vmin;
    font-weight: 700;
    display: none;
}

nav h1 {
    font-size: 5vmin;
}

nav h1 i {
    display: inline-block;
    transform: rotate(45deg);
    font-weight: 700;
}

nav h4 {
    font-size: 2.4vmin;
}

nav .part2 button {
    padding: 0.5vw 1vw;
    font-size: 2.3vmin;
    border-radius: 0.6vw;
    border: 1px solid black;
    background: transparent;
}


/* nav end */


/* menubar */

.menubar {

    display: none;
}


.menubar {
    position: fixed;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    background: linear-gradient(to right, #f5f7fa6d, #dbe1ea66);
    backdrop-filter: blur(25px);
    z-index: 9;
    right: 0%;
    /* opacity: 0; */
}

.menubar h4 {
    font-size: 3vmax;
    font-family: math;
    text-transform: uppercase;
    height: 3vmax;
    margin: 1vmax;

}

.menubar i {
    font-size: 3vmax;
    margin: 1vmax;

}

.menubar button {
    font-family: math;
    font-size: 3vmax;
    padding: 0.5vw 1vw;
    border-radius: 0.6vw;
    border: 1px solid black;
    background: transparent;
}


/* menubar end */

/* page 1 */

.page1 {
    width: 100%;
    height: 100vh;
    /* height: 100%; */


    position: relative;
    padding: 1.6vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

.page1-body {
    width: 100%;
    max-height: 85vh;
    /* height: 90%; */
    /* margin-top: 20vmin; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page1-bottom {
    width: 100%;
    max-height: 15vh;
    /* height: 10%; */
    /* background-color: aqua; */
    padding: 4vw 0;
}


.page1-p1 {
    height: 85%;
    width: 48%;
    position: relative;
    /* background-color: aquamarine; */
}

.page1-p2 {
    height: 85%;
    width: 52%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color: rgb(139, 168, 159); */
    position: relative;
}

.page1-p1 h1 {
    /* margin-top: 4vmax; */
    font-size: 11vmin;
    letter-spacing: 1.2px;
    line-height: 12vmin;
    font-family: math;
    font-weight: bolder;

}

.page1-p1 p {
    margin-top: 2vw;
    font-size: 2.4vmin;
    width: 95%;

}

.page1-p1 button {
    margin-top: 1.5vw;
    background-color: black;
    color: #fff;
    border-radius: 0.6vw;
    padding: 0.5vw 1vw;
    font-size: 2.3vmin;
}

.page1-p2 img {
    height: 100%;
    width: 80%;
    /* position: absolute; */
    /* right: 0; */
}

.page1-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 1vw;
}


.page1-bottom img {
    width: 100px;
}

/* page1 end */

/* page2 */

.page2 {
    width: 100%;
    height: auto;
    /* max-height: 170vh; */
    /* background-color: rgb(159, 198, 231); */
    position: relative;
    padding: 1.6vw 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.page2-p1 {
    width: 100%;
    height: 30vmin;
    /* background-color: rgb(120, 197, 197); */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.page2-p1 h1 {
    width:fit-content;
    font-size: 11vmin;
    letter-spacing: 1.2px;
    line-height: 8vmin;
    font-family: math;
    font-weight: bolder;
    background: linear-gradient(to right, #eacda3, #d6ae7b);
    border-radius: 2vw;
    padding: 1vw 2vw;
}

.Extraarea {
    width: 40%;
}

.page2-p1 p {
    margin-left: 2vw;
    font-size: 2.9vmin;
}

.page2-p2 {
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.5vw;
    padding-top: 2vw;

    position: relative;
    overflow: scroll;
}

.page2-p2::-webkit-scrollbar {
    display: none;
}


.page2-container {
    width: 90vmin;
    height: 45vmin;
    /* border: 1px solid rgb(42, 41, 41); */
    /* border-bottom-width: 1.1vmin; */
    border-radius: 2.8vw;
    position: relative;
    font-family: math;
    font-weight: bolder;
   
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #fbb7576d, #eae5db66);


    backdrop-filter: blur(25px);

}

.page2-container:hover{
    box-shadow: 0 0 10px #deb887;
    
}

.container-p1 {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container-p2 {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-p1 h3 {
    font-size: 5vmin;
}

.container-p1 div {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.container-p1 h5 {
    font-size: 3vmin;
}

.container-p1 div img {
    width: 50px;
    object-fit: contain;
}


.container-p2 img {
    width: -webkit-fill-available;
}


/* page2 end */


/* pag3 */

.page3 {
    width: 100%;
    height: 55vh;
    padding: 3.6vw 4vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page3-main {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #eacda3, #d6ae7b);
    border-radius: 3vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page3-p1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3vw;
}

.page3-p1 h3 {
    font-size: 5vmin;
    font-family: math;
    font-weight: bolder;
}

.page3-p1 h5 {
    width: 75%;
    font-size: 2.6vmin;
    font-weight: 400;
    padding-top: 1vw;
    padding-bottom: 0.6vw;
}

.page3-p1 button {
    font-size: 3vmin;
    padding: 0.6vw 1.6vw;
    border-radius: 0.6vw;
    background-color: black;
    color: #fff;

}



.page3-p2 {
    width: 50%;
    height: 130%;
}

.page3-p2 img {
    width: 100%;
    height: 100%;
}

/* page3 end */


/* page4 */
.page4 {
    width: 100%;
    height: 70vh;
    /* background-color: aqua; */
    padding: 1vw 4vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page4-p2 {
    width: 100%;
    height: 40vmin;
    background: linear-gradient(to right, #eacda3, #d6ae7b);
    border-radius: 3vw;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}



.page4-container {
    width: 55vmin;
    height: 70%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    position: relative;
    border-left: 2px solid black;
    padding-left: 2vw;
    overflow: hidden;

}

.page4-p2 .noB {
    border: none;

}

.page4-container h5 {

    width: 85%;
    font-size: 2.6vmin;
    font-weight: 400;
    padding-top: 1vw;
    padding-bottom: 0.6vw;
    /* overflow: hidden; */
}

.page4-container p {
    font-size: 2.9vmin;
}

.page4-container p i {
    font-size: 3vmin;
    /* padding-left: 1vw; */
}

/* page 4 end */



/* page5 */

.page5 {
    width: 100%;
    max-height: 120vh;
    /* background-color: aqua; */
    padding: 1vw 4vw;
    position: relative;
    display: flex;
    flex-direction: column;


}

.page5-p2 {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    /* background-color: antiquewhite; */
}

.page5-container {
    width: 100%;
    height: 14vmin;
    border-top: 1px solid black;
    padding: 0 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.page5-container div {
    display: flex;
    gap: 2vw;
}

.page5-container h3 {
    font-size: 4vmin;
    font-family: math;
    font-weight: 400;
}

.page5-container i {
    font-size: 5vmin;
}


/* page5 end */



/* page6 */

.page6 {
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw 4vw;
    position: relative;
    overflow-x: hidden;
    /* background-color: aqua; */

}

.page6-p2 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.page6-container {
    width: 55vmin;
    height: 61vmin;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 3vw;
    position: relative;
    padding: 2vw;

    background: linear-gradient(to right, #eacda366, #d6af7b74);
    backdrop-filter: blur(50px);

}

.p6container-p1 {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;


}

.p6container-p1 img {
    width: 50%;
    /* border: 1px solid red; */
    border-radius: 2.5vw;
    object-fit: cover;
}

.p6container-p1 div {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    gap: 1.5vw;
}

.p6container-p1 h3 {

    font-size: 4vmin;
    font-family: math;

}

.p6container-p1 h5 {

    font-size: 3vmin;
}

.p6container-p2 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    position: relative;

}

.p6container-p2 h5 {
    width: 100%;
    font-size: 2.6vmin;
    font-weight: 400;
    padding-top: 1vw;
}

.p6container-p2 img {
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 1%;

}

.seemore {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2vw;
    font-size: 3vmin;
}




/* page6 end */

/* page7 */

.page7 {

    width: 100%;
    min-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw 4vw;
    position: relative;
    background: linear-gradient(to right, #efe9e1, #f0dfca);
    overflow-x: hidden;
}

.page7-p2 {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(to right, #deba8866, #d8a96a70);
    backdrop-filter: blur(20px);
    border-radius: 3vw;
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;


}

.page7-p2 div {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5vmin 8vmin;


    /* border: 2px solid #dda863; */
    border-radius: 3vw;

}

.page7-p2 div h4 {
    font-size: 3.5vmin;
    font-weight: 400;
}

.page7-p2 div h3 {
    font-size: 3.5vmin;
    padding-top: 2vw;
    font-weight: bolder;
    font-family: math;
}



/* page7 end */



/* page8 */

.page8 {
    width: 100%;
    height: 100vh;
    padding: 1vw 4vw;
    position: relative;



    display: flex;
    justify-content: center;
    align-items: center;



}

.page8 div {


    font-size: 39vw;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    transform: translateX(22%);
    cursor: pointer;




}


.cursor {
    width: 40px;
    height: 40px;
    /* background-color: #eeab5254; */
    background: linear-gradient(to right, #eed9bc7e, #d8a66888);
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 10;
    top: -20px;
    left: -20px;

}

/* page8 end */

/* page9 */

.page9 {
    width: 100%;
    height: 100vh;
   
    position: relative;
    background: linear-gradient(to right, #efe9e1, #f0dfca);
   
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page9-p1{
    width: 100%;
    height: 17vh;
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    transform: translateX(-55%);
    gap: 2vw;
}

.page9-p1 .marque{
    min-width: 56vmin;
   
    font-size: 11vmin;
    letter-spacing: 1.2px;
    line-height: 8vmin;
    font-family: math;
    font-weight: bolder;
    
    /* padding: 1vw 2vw; */
}

.page9-p2{

    background: linear-gradient(to right, #fcfcfb, #f3ebe2);
   
    width: 100%;
    height: 83vh;
    padding: 1vw 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    
}

.contact-form{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contact-image{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.contact-image img{
    width: 100%;
    height: 70%;
    object-fit: contain;
}

form{
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
form h3{
    font-size: 4vmin;
}

input ,textarea{
    border: none;
    border-radius: 3vmin;
    background-color: rgba(170, 167, 167, 0.619);
    height: 6vmin;
    padding: 1.2vw 1vw;
    font-size: medium;

}

textarea{
    max-width: 100%;
    height: 20vh;
    max-height: 30vh;
   
}
.send{
    background-color: #111;
    color: #dbe1ea;
    font-size: medium;
    padding: 0;
}

/* page9 end */

/* footer */

footer{
    width: 100%;
    height: 20vh;
    background-color: black;
    color: #dbe1ea;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}